<section>
    <div class="container">
        <div class="row">
            <div class="col m t-4"></div>
               <h2>Pages not found</h2>
            </div>
        </div>
    </div>
</section>